.a-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.a-Readmore {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  padding: 25px 20px 30px 45px !important;
}

.a-Readmore:hover {
  color: inherit;
}
